body {
	margin: 0px;
}

@media only screen and (min-width: 1024px){
	.logo-gbt {
		max-width: 5%;
		height: auto;
		margin-top: -10px;
	}

	h1 {
		font-family: Arial, Helvetica, sans-serif;
	}

	.nav-bar {
		padding: 10px;
		padding-left: 25px;
		margin-top: -5px;
		background-color: #ffff;
	}

	.name-gbt {
		position: absolute;
		left: 125px;
		top: 5px;
	}

	.welcome{
		padding: 300px;
		background-image: url("/img/welcome-background.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #cccccc;
	}
	
	.welcome > h1 {
		font-size: 80px;
		text-align: center;
		color: white;
	}

	ul {
  		list-style-type: none;
  		margin: 0;
  		margin-top: -70px;
  		padding: 0;
  		overflow: hidden;
  		background-color: #ffff;
	}

	li {
  		display: flex;
  		flex-direction: end;
  		align-items: flex-end;
  		padding: 20px;
  		text-decoration: none;
		margin-right: 70px;
	}

	.intro {
		padding: 3% 13%;
	}

	.intro > h2 {
		text-align: center;
		font-size: 60px;
		margin-bottom: -20px;
	}

	.intro > p {
		text-align: center;
		font-size: 40px;
	}

	.jadwal-ibadah {
		text-align: center;
	}

	.jadwal-ibadah > h2 {
		font-size: 60px;
		margin-bottom: -20px;
	}

	.jadwal-ibadah > p {
		font-size: 40px;
		text-align: left;
		padding: 20px;
		padding-left: 23%;
	}

	.tab1 {
		display: inline-block;
 		margin-left: 180px;
	}

	.tab2 {
		display: inline-block;
 		margin-left: 140px;
	}

	.tab3 {
		display: inline-block;
 		margin-left: 45px;
	}

	.tab4 {
		display: inline-block;
 		margin-left: 95px;
	}

	.tab5 {
		display: inline-block;
 		margin-left: 75px;
	}

	.tab6 {
		display: inline-block;
 		margin-left: 1px;
	}

	.tab7 {
		display: inline-block;
 		margin-left: 65px;
	}

	.konselor {
		padding: 3% 13%;
	}

	.konselor > h2 {
		text-align: center;
		font-size: 60px;
		margin-bottom: -20px;
	}

	.konselor > p {
		margin-left: 20%;
		font-size: 40px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

}

@media only screen and (max-width: 767px){

}