.welcome {
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-image: url("/img/welcome-background.png");
    background-size: cover;
    background-position: center;
}

.welcome > h2 {
    font-size: 10vh;
    color: white;
}

.about-us {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.about-us > h3 {
    font-size: 7vh;
}

.about-us > p {
    font-size: 2.7vh;
}

.jadwal-ibadah {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.jadwal-ibadah > h3 {
    font-size: 7vh;
}

.jadwal-ibadah > img {
    max-width: 70%;
    height: auto;
    padding-top: 5vh;
}

.konselor {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.konselor > h3 {
    font-size: 7vh;
}

.konselor > img {
    max-width: 70%;
    height: auto;
    padding-top: 5vh;
}

.gembala-sidang {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.gembala-sidang > h3 {
    font-size: 7vh;
}

.nama-pdt {
    text-align: left;
}

footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
    background-color: rgb(206, 198, 198);
}

.sosmed{
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
}