@media only screen and (max-width: 768px) {
    .banner-pelayanan {
        max-height: auto;
        width: 100%;
    }

    .divisi-pelayanan {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .pelayanan-gbt {
        max-height: 100%;
        width: auto;
    }

    footer {
        padding-top: 5vh;
        padding-bottom: 3vh;
        background-color: rgb(206, 198, 198);
    }
    
    .sosmed{
        max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2vh;
    }
}


@media only screen and (min-width: 768px) {
    .navbar-brand {
        margin-left: 3vh;
    }

    .banner-pelayanan {
        max-height: auto;
        width: 100%;
    }

    .divisi-pelayanan {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .divisi-pelayanan > h2 {
        font-size: 7vh;
        padding-bottom: 2vh;
    }

    .divisi-pelayanan > p {
        font-size: 3vh;
    }

    footer {
        padding-top: 5vh;
        padding-bottom: 3vh;
        background-color: rgb(206, 198, 198);
    }
    
    .sosmed{
        max-width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2vh;
    }   
}
