@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 1vh;
    }

    .pengumuman {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    .pengumuman > img {
        max-width: 90%;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    footer {
        padding-top: 5vh;
        padding-bottom: 3vh;
        background-color: rgb(206, 198, 198);
    }
    
    .sosmed{
        max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2vh;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        margin-left: 3vh;
    }

    .pengumuman {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    .pengumuman > img {
        max-width: 70%;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    footer {
        padding-top: 5vh;
        padding-bottom: 3vh;
        background-color: rgb(206, 198, 198);
    }
    
    .sosmed{
        max-width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2vh;
    }
}
